.tour-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .container-card {
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    transition: transform 0.3s;
  }
  
  .container-card:hover {
    transform: translateY(-5px);
  }
  
  .tour-name {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .tour-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .tour-separator {
    margin-top: 10px;
    border-top: 1px solid #ccc;
  }